/* Header.module.css */
.header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 2rem;
  height: 60px;
  background-color: #000;
  color: white;
  border-bottom: 1px solid #2a2a2a;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  background: white;
  color: rgb(232, 242, 199);
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoCenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  display: flex;
  align-items: center;
}

.avatar, .icon {
  cursor: pointer;
}

