{% extends "mail/layout.html" %}

{% block body %}
  

  {% if message %}
    <div class="alert">{{ message }}</div>
  {% endif %}

  <div class="auth-wrapper">
    <h2 class="form-title">Login</h2>
    <form class="styled-form" action="{% url 'login' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
        <input autofocus class="form-control" type="email" name="email" placeholder="Email">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" name="password" placeholder="Password">
      </div>
      <input class="btn gradient-btn" type="submit" value="Login">
    </form>
  
    <p class="form-note">Don't have an account? <a href="{% url 'register' %}">Register here.</a></p>
  </div>
  
{% endblock %}
