@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
nav a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  font-family: inherit;
  font-size: 1rem;
}

h3 {
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 28px;
}

::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 1px;
}

@keyframes gradientWave {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-image: linear-gradient(
    270deg,
    #a78bfa,
    #60a5fa,
    #34d399,
    #f472b6,
    #a78bfa
  );
  background-size: 400% 400%;
  animation: gradientWave 10s ease infinite;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 34px;
  text-align: center;

  /* По умолчанию центр — для десктопа */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-animated-gradient {
  background-image: linear-gradient(
    270deg,
    #a78bfa,
    #60a5fa,
    #34d399,
    #f472b6,
    #a78bfa
  );
  background-size: 400% 400%;
  animation: gradientWave 10s ease infinite;
  color: white;
}

.btn-animated-gradient-start {
  background-image: linear-gradient(270deg, #c3edad, #b4b4ff) !important;
  background-size: 200% 200% !important;
  animation: gradientWaveMobile 6s ease infinite !important;
}
@keyframes gradientWaveMobile {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

@media (max-width: 640px) {
  .mobile-gradient-bg {
    background-image: linear-gradient(270deg, #c3edad, #b4b4ff) !important;
    background-size: 200% 200% !important;
    animation: gradientWaveMobile 6s ease infinite !important;
  }
}

@media (max-width: 768px) {
  .animate-gradient {
    font-size: 18px;
    left: 30%;
  }
}

.neumorphic-button {
  @apply bg-[#e0e0e0] text-[#333] rounded-[12px] px-[14px] py-[8px] transition-all duration-200 ease-in-out shadow-[6px_6px_12px_#bebebe,-6px_-6px_12px_#ffffff];
}
.neumorphic-button:hover {
  @apply shadow-inner;
}

.neumorphic-button.font-bold {
  @apply text-indigo-500 hover:text-indigo-700;
}


